/**
 * @file
 * Installation styling.
 *
 */

html body,
html body a,
html body a:hover,
html body a:focus,
html body a:active,
html body.install-page .site-version,
html body .claro-details,
html body .claro-details__summary,
html body .form-item__description,
html body .task-list li {
  color: #437100;
}

html body .task-list .is-active,
html body .button--primary,
html body .claro-details__summary:hover {
  background: #437100;
  color: #ffffff;
}

html body .button--primary:hover,
html body .button--primary:focus,
html body .button--primary:active {
  background: #2c4b00;
}

html body .task-list .is-active:after {
  border-left-color: #437100;
}

html body.install-page {
  background: #437100 !important;
  background-color: #437100 !important;
  background-image: url(../../logo-wight.svg) !important;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 22%;
  -moz-background-size: 22%;
  -o-background-size: 22%;
  background-size: 22%;
  background-position: 95% 5%;
  -webkit-animation: logo-animation 40s infinite;
  animation: logo-animation 40s infinite;
  animation-delay: 5s;
  object-fit: none;
}

html body .installer-logo {
  width: 100px !important;
  float: left !important;
}

html body .page-title {
  width: 100% !important;
}

html body .install-site-name,
html body .site-version {
  margin-left: 60px !important;
  margin-top: 1em !important;
}

@keyframes logo-animation {
  10% {
    background-size: 22%;
    background-position: 95% 5%;
  }
  20% {
    background-size: 50%;
    background-position: 50%;
  }
  30% {
    background-size: 22%;
    background-position: 5% 95%;
  }
  40% {
    background-size: 22%;
    background-position: 50%;
  }
  50% {
    background-size: 22%;
    background-position: 95% 5%;
  }
  60% {
    background-size: 50%;
    background-position: 50%;
  }
  70% {
    background-size: 22%;
    background-position: 5% 95%;
  }
  80% {
    background-size: 50%;
    background-position: 50%;
  }
  90% {
    background-size: 22%;
    background-position: 95% 5%;
  }
}

@media screen and (min-width: 38em) {
  html .toolbar-tray-open:not(.toolbar-vertical) .layout-container,
  html body:not(.toolbar-tray-open) .layout-container {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

html body footer.installer-footer #credit {
  display: none;
}

html body .progress__bar {
  border: 1px #437100 solid ;
  background: #437100;
  height: 1.5em;
}
