/**
 * @file
 * Installation styling.
 *
 */

html body,
html body a,
html body a:hover,
html body a:focus,
html body a:active,
html body.install-page .site-version,
html body .claro-details,
html body .claro-details__summary,
html body .form-item__description,
html body .task-list li {
  color: #437100;
}

html body .task-list .is-active,
html body .button--primary,
html body .claro-details__summary:hover {
  background: #437100;
  color: #ffffff;
}

html body .button--primary:hover,
html body .button--primary:focus,
html body .button--primary:active {
  background: #2c4b00;
}

html body .task-list .is-active:after {
  border-left-color: #437100;
}

html body.install-page {
  background: #437100 !important;
  background-color: #437100 !important;
  background-image: url(../../images/logo-wight.svg) !important;
  background-position: center center;
  background-repeat: no-repeat;
}

html body .installer-logo {
  width: 120px !important;
  float: left !important;
}

html body .page-title {
  width: 100% !important;
}

html body .install-site-name,
html body .site-version {
  margin-left: 60px !important;
  margin-top: 1rem !important;
}

html body.install-page .site-version {
  font-size: 5rem !important;
  display: inline-block !important;
  margin-top: 4rem !important;
}

html body.install-page .site-version::before {
  content: 'Cucumber ';
  display: inline-block;
}

@media screen and (min-width: 38em) {
  html .toolbar-tray-open:not(.toolbar-vertical) .layout-container,
  html body:not(.toolbar-tray-open) .layout-container {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

html body footer.installer-footer #credit {
  display: none;
}

html body .progress__bar {
  border: 1px #437100 solid ;
  background: #437100;
  height: 1.5rem;
}

html body .progress__track {
  height: 1.6rem !important;
  padding: 0.2rem !important;
}
