/**
 * @file
 * Installation styling.
 *
 */

body.install-page {
  background: #0074bd;
  background-color: #0074bd;
  background-image: url(../../images/logo-wight.svg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 22%;
  -moz-background-size: 22%;
  -o-background-size: 22%;
  background-size: 22%;
  background-position: 95% 5%;
  -webkit-animation: logo-animation 40s infinite;
  animation: logo-animation 40s infinite;
  animation-delay: 5s;
}

body .install-logo {
  width: 100px;
  float: left;
}

body .page-title {
  width: 100%;
}

body .install-site-name,
body .site-version {
  margin-left: 60px;
  margin-top: 1em;
}

@keyframes logo-animation {
  10% {
    background-size: 22%;
    background-position: 95% 5%;
  }
  20% {
    background-size: 50%;
    background-position: 50%;
  }
  30% {
    background-size: 22%;
    background-position: 5% 95%;
  }
  40% {
    background-size: 22%;
    background-position: 50%;
  }
  50% {
    background-size: 22%;
    background-position: 95% 5%;
  }
  60% {
    background-size: 50%;
    background-position: 50%;
  }
  70% {
    background-size: 22%;
    background-position: 5% 95%;
  }
  80% {
    background-size: 50%;
    background-position: 50%;
  }
  90% {
    background-size: 22%;
    background-position: 95% 5%;
  }
}

@media screen and (min-width: 38em) {
  .toolbar-tray-open:not(.toolbar-vertical) .layout-container,
  body:not(.toolbar-tray-open) .layout-container {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
