/**
* @file
* Installation styling.
*
*/

html body,
html body a,
html body a:hover,
html body a:focus,
html body a:active,
html body.install-page .site-version,
html body .claro-details,
html body .claro-details__summary,
html body .form-item__description,
html body .task-list li {
  color: #437100;
}

html body .task-list .is-active,
html body .button--primary,
html body .claro-details__summary:hover {
  background: #437100;
  color: #ffffff;
}

html body .button--primary:hover,
html body .button--primary:focus,
html body .button--primary:active {
  background: #3c3d41;
}

html body .task-list .is-active:after {
  border-left-color: #437100;
}

html body.install-page {
  background: #437100 !important;
  background-color: #437100 !important;
}

html body .layout-container header {
  background-image: url("../../images/logo.svg") !important;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 15rem;
  margin-bottom: 2rem;
}

html body.install-page .page-title {
  margin-left: 17rem;
}

html body.install-page .page-title {
  font-size: 3rem !important;
  display: inline-block !important;
  margin-top: 4rem !important;
}

@media screen and (min-width: 38em) {
  html .toolbar-tray-open:not(.toolbar-vertical) .layout-container,
  html body:not(.toolbar-tray-open) .layout-container {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

html body .progress__bar {
  border: 1px #437100 solid ;
  background: #437100;
  height: 1.5rem;
}

html body .progress__track {
  height: 1.6rem !important;
  padding: 0.2rem !important;
}

@media (min-width: 48em) {
  html body .layout-sidebar-first {
    float: left;
    width: 25%;
    margin-right: 3rem;
  }

  html body main {
    float: left;
    width: 65%;
  }
}