/**
 * @file
 * Installation styling.
 *
 */

body {
  background: url(../../images/drupal-cucumber.svg) repeat center center;
  -webkit-background-size: 80px;
  -moz-background-size: 80px;
  -o-background-size: 80px;
  background-size: 80px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  transform:rotate(45deg);
  -webkit-animation: background-animation 180s infinite;
  animation: background-animation 360s infinite;
  animation-delay: 5s;
  overflow-x: hidden;
}

.animated-logo {
  background: url(../../images/drupal-cucumber.svg) no-repeat center center;
  -webkit-background-size: 15%;
  -moz-background-size: 15%;
  -o-background-size: 15%;
  background-size: 15%;
  background-position: 95% 5%;
  -webkit-animation: logo-animation 40s infinite;
  animation: logo-animation 40s infinite;
  animation-delay: 5s;
}

body .dialog-off-canvas-main-canvas {
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

body .install-logo {
  width: 80px;
  float: left;
  color: #437100;
}

body .install-site-name,
body .site-version {
  float: left;
  margin-left: 15px;
  margin-top: 18px;
  color: #437100;
}

body body .layout-container,
body .js .layout-container,
.js body .layout-container,
.js .js .layout-container {
  margin: 4% auto;
  
}

@keyframes background-animation {
  0% {
    background-size: 80;
  }
  50% {
    background-size: 50px;
  }
  100% {
    background-size: 80;
  }
}

@keyframes logo-animation {
  10% {
    background-size: 15%;
    background-position: 95% 5%;
  }
  20% {
    background-size: 50%;
    background-position: 50%;
  }
  30% {
    background-size: 15%;
    background-position: 5% 95%;
  }
  40% {
    background-size: 50%;
    background-position: 50%;
  }
  50% {
    background-size: 15%;
    background-position: 95% 5%;
  }
  60% {
    background-size: 50%;
    background-position: 50%;
  }
  70% {
    background-size: 15%;
    background-position: 5% 95%;
  }
  80% {
    background-size: 50%;
    background-position: 50%;
  }
  90% {
    background-size: 15%;
    background-position: 95% 5%;
  }
}

.install-header {
  color: #437100;
}

/**
 * Task list & step indicator
 */
@media all and (max-width: 48em) { /* 768px */

  .step-indicator {
    position: absolute;
    top: 0.2em;
    right: 0.5em; /* LTR */
    display: block;
    font-size: 1.385em;
  }

  .task-list {
    display: none;
  }
}

@media all and (min-width: 48em) { /* 768px */
  .step-indicator {
    display: none;
  }

  .task-list {
    margin-left: 0;
    padding-bottom: 1em;
    padding-left: 0; 
    list-style-type: none;
  }

  .task-list li {
    padding: 0.5em;
    color: #ffffff;
  }

  .task-list .is-active {
    position: relative;
    background: #437100;
    font-weight: normal;
  }
  .task-list .is-active:after {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 0;
    height: 0;
    margin-top: -1.269em;
    content: " ";
    pointer-events: none;
    border: solid transparent;
    border-width: 1.269em;
    border-color: #437100;
    border-left-color: #437100;
  }
  .task-list .done {
    color: #437100;
  }
}

/**
 * Layout
 */
.layout-container {
  width: auto;
  margin-right: 1.25em;
  margin-left: 1.25em;
  background: #fff;
}

.layout-container:after {
  display: table;
  clear: both;
  content: "";
}

.page-title {
  color: #437100;
} 

/**
 * Status report customization for install and update page.
 */
.system-status-report__status-title {
  float: none;
  width: 100%;
}
.system-status-report__entry__value {
  float: none;
  width: 100%;
  padding-top: 0;
  padding-left: 3em; /* LTR */
}
[dir="rtl"] .system-status-report__entry__value {
  padding-right: 3em;
  padding-left: 1em;
}
