/**
 * @file
 * Installation styling.
 *
 */

html {
  background: url(../images/drupal-cucumber.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: url(../images/drupal-cucumber.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body img.install-logo {
  width: 80px;
  float: left;
}

body .install-site-name,
body .site-version {
  float: left;
  margin-left: 15px;
  margin-top: 18px;
}

body body .layout-container,
body .js .layout-container,
.js body .layout-container,
.js .js .layout-container {
  margin: 2% auto 2% 2%;
}
