/* Discrete, reusable UI elements. */

/**
 * Toolbar module.
 *
 * All menus receive the uk-list class, which disrupts the flow of the toolbar
 * tray menus. We may end up adding a toolbar tray menu template in the future.
 */
.toolbar-tray>nav>ul,
.toolbar-tray>nav>ul>li:nth-child(n+2),
.toolbar-tray>nav>ul>li>ul {
  margin: 0;
}

/**
 * UIkit buttons.
 */
.uk-button-group>input {
  font: 400 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  vertical-align: top !important;
}